.clone {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    visibility: hidden;
}
.message-box {
    height: 100px;
    overflow: hidden;
    border: 1px solid #fff;
    margin: 20px;
}
.messages {
    animation: scroll 20s linear infinite;
    white-space: wrap;
}
@keyframes scroll {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-100%);
    }
}