body {
        background-color: #FFB6C1;
        font-family: Arial, sans-serif;
        text-align: center;
        margin: 0;
        padding: 0;
}
header {
    background-color: #ffd1dc;
    padding: 5px 0;
  height: 40px;
  width: 100%;

}
nav {
    display: flex;
  justify-content: flex-start; 
  width: 100%;
  margin: 0;
}
nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;

}
nav li {
    margin: 10px;
}
nav a {
    text-decoration: none;
  color: #fff;
  padding: 10px;
  padding-top: 17px;
  padding-bottom: 17px;
  transition: all 0.3s ease;
}
nav a:hover {
    background-color: #ffbdd2;
} 
h1 {
    color: #fff; 
}
p {
    color: #fff; 
    font-size: 1.2em;
    line-height: 1.6;
}
.message-box {
    height: 100px;
    overflow: hidden;
    border: 1px solid #fff;
    margin: 20px;
}
.messages {
    animation: scroll 20s linear infinite;
    white-space: wrap;
}
@keyframes scroll {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-100%);
    }
}

form {
    margin-top: 30px;
}

.clone {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    visibility: hidden;
}

#slideshow {
    position: relative;
    max-width: 100%;
    overflow: hidden;
  }
  .slides {
    display: none;
    position: absolute;
    width: 100%;
    height: auto;
  }
  button {
    margin: 50px;
    padding: 7px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: larger;
  }
  .yes {
    background-color: rgb(7, 207, 7);
    border-color: rgb(50, 202, 50);
  }
  .no {
    background-color: red;
    border-color: rgb(255, 54, 54);
  }
  .no:hover {
    cursor: not-allowed;
  }
  .yes:hover {
    cursor: pointer;
  }